body {
  font-family: Lato-light, Lato-regular;
}
*
{
  margin: 0;
  padding: 0;
}
.header
{
  background-color: #00000075;
  text-align: center;
  margin-right: auto;
  position: absolute;
  width: 100%;
  height: 100px;
  z-index: 105;
}

.image img
{
  position: relative;
  width: 100%;
}

.navbar-logo
{
  position: absolute;
  left: 50%;
  top: 5px;
  transform: translateX(-50%);
  padding-left: 30px;
}

.header ul
{
  list-style: none;
  margin-top: 40px;
  font-size: 16px;
  padding-left: 0;
  color: #fff;
  top: 51px;
  text-indent: 20px;
  font-family: "Playfair Display";
  padding-left: 30px;
}

.header ul li:nth-of-type(3) {
  margin-left: 210px;
}

a 
{
  text-decoration: none;
}

li 
{
  display: inline-block;
}

 table th 
{
  position: relative;
  text-align: left;
  padding: 5px 90px;
}

 table td 
{
  position: relative;
  text-align: center;
}

 table
{
 margin-top: 30px;
}

h1 
{
  color: #F1D972;
  font-family: "Playfair Display";
  position: absolute;
  top: 250px;
  left: 160px;
  width: 100%;
  font-size: 48px;
  font-weight: bold;
}

.menu
{
  text-align: center;
}

.menu .image-coffee
{
  display: inline-block;
  margin: 15px;
  position: relative;
}

.menu .image-coffee img 
{
  padding-bottom: 0px;
}

.menu .image-dessert
{
  display: inline-block;
  margin: 15px;
  position: relative;
}

.menu .image-dessert h2
{
  position: absolute;
  top: 120px;
  left: 0px;
  text-transform: uppercase;
  font-size: 40px;
  left: 100px;
  margin: 0;
  padding: 0;
}

.menu .image-coffee h2
{
  position: absolute;
  text-transform: uppercase;
  top: 120px;
  left: 120px;
  font-size: 40px;
  z-index: 84;
  margin: 0;
  padding: 0;
}

.menu .image-tea 
{
  display: inline-block;
  margin: 15px;
  position: relative;
}

.menu .image-tea h2
{
  font-size: 40px;
  top: 120px;
  left: 160px;
  position: absolute;
  text-transform: uppercase;
  margin: 0;
  padding: 0;
}

.coffee
{
  position: relative;
  text-align: center;
  margin: 50px;
  padding: 50px;
  margin-top: 0px;
  padding-top: 0px;
  top: 50px;
}

.intro 
{
  margin: 100px;
  margin-bottom: 50px;
}

.content .intro h2 
{
  text-transform: inherit;
  font-family: "Playfair Display";
  text-align: center;
  font-size: 32px;
}

.image p {
  position: absolute;
  top: 350px;
  left: 170px;
  width: 100%;
  color: #fff;
  line-height: 1.5;
}

h2 
{
  text-transform: uppercase;
  font-family: "Playfair Display";
  text-align: center;
  font-size: 32px;
  margin: 50px;
  padding: 50px;
}

.intro p 
{
  text-align: center;
  line-height: 1.5;
  z-index: 90;
  margin-bottom: 0;
}

.image button {
  position: absolute;
  font-size: 13px;
  font-family: "Lato";
  top: 430px;
  left: 160px; 
  width: 200px;
  height: 50px;
  border: solid;
  background: transparent;
  margin-bottom: 40px;
  color: #fff;
  text-transform: uppercase;
}

.container {
  text-align: center;
}

.container .quote-image {
  position: relative;
  display: inline-block;  
  margin: 0;
}

.container .quote-image img {
  object-fit: cover;
  width: 825px;
  height: 425px;
}

.container .quote {
  position: relative;
  display: inline-block;
  text-align: center;
  background-color: #38312F;
  height: 425px;
  width: 458px;
  margin: 0;
  margin-left: -5px;
}

.quote .avatar{
  position: absolute;
  top: 120px;
  left: 185px;
}

.quote .background-up h1{
  font-family: "Playfair Display";
  position: absolute;
  color: rgba(255, 255, 255, 0.031);
  font-size: 90px;
  top: -20px;
  left: -160px;
  z-index: 54;
}

.quote .background-down h1{
  font-family: "Playfair Display";
  position: absolute;
  color: rgba(255, 255, 255, 0.031);
  font-size: 180px;
  top: 180px;
  left: 165px;
  z-index: 54;
}

.quote h3 {
  position: absolute;
  color: #f2d981;
  font-family: "Playfair Display";
  font-weight: bold;
  z-index: 50;
  top: 210px;
  left: 175px;
}

.quote p {
  position: absolute;
  color: #fff;
  top: 250;
}

.menu button {
  position: relative;
  font-size: 13px;
  font-family: "Lato";
  margin-left: auto;
  margin-right: auto;
  top: 80px;
  display: block;
  justify-content: center;
  align-items: center;
  width: 200px;
  height: 50px;
  border: solid;
  background: transparent;
  color: #000;
  text-transform: uppercase;
  margin-bottom: 50px;
}

.container .time {
  position: relative;
  display: inline-block;
  background-color: #f5d76e;
  text-align: left;
  height: 424px;
  width: 456px;
  top: -97px;
  margin-bottom: -80;
}

.container .map {
  position: relative;
  display: inline-block;
  margin-left: -5px;
}

.container .time h3 {
  /*position: absolute;*/
  text-transform: uppercase;
  font-family: "Playfair Display";
  margin: 50px;
  margin-bottom: 10px;
}

.time .hours h3 {
  /*position: absolute;*/
  text-transform: uppercase;
  font-family: "Playfair Display";
  margin: 50px;
  margin-top: 30px;
  margin-bottom: 10px;
}


.time .happyhour h3 {
  /*position: absolute;*/
  text-transform: uppercase;
  font-family: "Playfair Display";
  margin: 50px;
  margin-top: 10px;
  margin-bottom: 20px;
}

.time p {
  /*position: absolute;*/
  margin: 50px;
  margin-top: 10px;
  margin-bottom: 30px;
}

.time .hours p {
  /*position: absolute;*/
  margin: 50px;
  margin-top: 10px;
  margin-bottom: 20px;
}

.footer
{
  position: relative;
  color: #fff;
  background-color: #39312F;
  clear: both;
  min-height: 320px;
}

/*.footer .facebook {
	position: relative;
	display: inline-block;
	margin: 12px;
	text-align: center;
}*/

.footer .socials {
  position: relative;
  display: block;
  text-align: center;
  margin: 12px;
  top: 75px;
}

.footer p
{
  position: relative;
  top: 100px;
  text-align: center;
}